/* css cho breadcrumb  */
.breadcrumb {
    text-transform: none!important;
    margin-top: 5px;
}

.breadcrumb .active {
    color: #f5a623!important;
}
/* het css cho breadcrumb  */


/* css cho product-page  */
.product-detail .product-img{   
    transition: 0.2s;
}

.product-detail .thumb-img {
    height: 100%;
    width: 74px;
    border: 1px solid #F2F2F2;
}

.product-detail .list-anhchitiet {
    height: 76px;
}

.product-detail .thumb-img:hover{
    cursor: pointer;
}

.product-detail .thumb-img.vienvang{
    border: 1px solid #F5A623;
}
/* het css cho product-page  */
/* css cho khoi thong tin cua  product-page*/
.khoithongtin .header hr {
    margin-top: 10px;
}

.khoithongtin .rate {color: #D9D9D5;font-size: 14px;}

.khoithongtin .rate .active {
    color: #F5A623;
}

.khoithongtin .uudai .header {
    margin-top: 5px;
    padding: 10px 0px 2px 16px;
    font-size: 13px;
}

.khoithongtin .header h4 {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 5px;
}

.khoithongtin .gia {
    font-size: 13px;
}

.khoithongtin .input-number .btn-spin {
    background: white;
    border: 1px solid #ebebeb;
}

.khoithongtin .input-number .btn-spin:hover {
    cursor: pointer;
    color: #2196F3;
}

.khoithongtin .input-number .soluongsp {
    width: 38px;
    border: 1px solid #ebebeb;
}


.khoithongtin .soluong label {
    width: 101px;
    font-size: 14px;
    margin-top: 9px;
}

.thongtinsach a.tacgia {
    color: #F5A623;
    text-decoration: none;
}

.thongtinsach ul li {
    margin-bottom: 5px;
}

.khoithongtin .thongtinsach ul {
    list-style: none;
    margin-bottom: 0px;
}

.khoithongtin .thongtinsach {
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    padding: 13px;
    font-size: 13px;
}

.khoithongtin .uudai ul {
    list-style: none;
}

.khoithongtin .uudai ul li::before {
    content: "\2022";
    color: #F5A623;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size:15px;
}

.khoithongtin .uudai li a {
    color: gray;
}

.khoithongtin .uudai li {
    margin-left: 33px;
    margin-bottom: 5px;
}

.khoithongtin .uudai {
    background: #FEF6E9;
    border: 1px solid #F5A623;
    border-radius: 5px;
    font-size: 13px;
}

.khoithongtin .giaban {
    margin-top: 7px;
}

.khoithongtin .giaban .giamoi {
    color: red;
    font-size: 26px;
}

/* don vi tien  */
.khoithongtin .giaban .donvitien {
    color: red;
    font-size: 26px;
    font-weight: bold;
}

.khoithongtin .giabia .giacu {
    text-decoration: line-through;
    color: #b8b8b8;
    margin-left: 10px;
}

.khoithongtin .tietkiem {
    margin-top: 7px;
}

.khoithongtin .tietkiem .sale {
    background: #F5A623;
    border-radius: 6px;
    font-size: 11px;
    color: white;
    padding: 4px;
    font-weight: bold;
}

.khoithongtin small.share {
    font-size: 15px;
}

.khoithongtin .huongdanmuahang {
    color: #F7A623;
    font-size: 13px;
    margin: 10px 0px;
    display: block;
}

.khoithongtin .nutmua {
    background: linear-gradient(#f5a623,#fd8205);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.khoithongtin .nutmua:hover {
    background: linear-gradient(#f5a623,#fd8205)!important;
    color: black;
    box-shadow: 0px 11px 20px -10px #fd8205;
}
/*het css cho khoi thong tin cua product-page*/

/* .product-description  */
.formdanhgia .nutguibl {
    border: 1px solid #F7A623;
    color: #F7A623;
    width: 60%;
    font-weight: 500;
}

.formdanhgia .nutguibl:hover {background: #F7A623;color: white;}

.formdanhgia .form-group input {padding: 6px 15px;font-size: 14px;border: 1px solid #d7d2d2; margin-bottom: 15px;}

.formdanhgia .danhgiacuaban {
    font-size: 14px;
    display: block;
}

.formdanhgia .tieude {
    font-size: 17px!important;
}

.btn.vietdanhgia {border: 1px solid #F7A623;color: #F7A623;padding: 7px 20px;}

.btn.vietdanhgia:hover {
    color: white;
    background: #F7A623;
}

.tiledanhgia .motthanh {
    margin-bottom: 8px;
}

#nav-danhgia .tiledanhgia {
    margin-top: 53px;
}

.motthanh i.bi.bi-star-fill {margin-left: 6px;color: #a5a5a5;}

.progress {
    width: 80%;
    height: 10px;
}

#nav-danhgia p.sonhanxet {
    font-size: 13px;
}

#nav-danhgia .sao i.bi.bi-star-fill {
    color: #d1cccc;
}

#nav-danhgia .diem {
    font-size: 45px;
    color: red;
    font-weight: bold;
}

.product-description #nav-danhgia p.tieude {
    margin: 20px 0px 0px 0px;
}

.product-description h6.tieude {
    margin-top: 22px;
    font-size: 18px;
}

.product-description .nav-tabs a {
    color: gray;
    margin-right: 7px;
    border-radius: 0;
    font-size: 14px;
}

.product-description .nav-tabs .nav-item.active {
    color: black;
    border-top: 4px solid #F5A623;
}

.product-description {
    margin-left: 9px;
}

.formdanhgia .rating input{
    display: none;
    
}

.formdanhgia .rating label{
    display: block;
    cursor: pointer;
    width: 15px;
}

.formdanhgia .rating label::before{
    content: '\f005';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    position: relative;
    display: block;
    font-size: 15px;
    color: rgb(187, 186, 186);
}

.formdanhgia .rating label::after{
    content: '\f005';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    position: absolute;
    display: block;
    font-size: 15px;
    color: #F7A623;
    top:350px;
    opacity: 0;
    transition: 0.2s;
}

.formdanhgia .rating label:hover::after,
.formdanhgia .rating label:hover ~ label::after,
.formdanhgia .rating input:checked ~ label::after{
    opacity: 1;
}
/* het css cho .product-description  */

/* css cho _1khoi */

/* css cho nut xem tat ca  */
a.btn.btn-warning.btn-sm.text-white {
    height: 25px;
    width: 77px;
    background: #F5A623;
    font-size: 11px;
} 
/* het css cho nut xem tat ca  */

.card:hover .anh {
    top: 5px;
}

img.card-img-top.anh {
    position: relative;
    top: 15px;
    transition: 0.3s;
    height: 241px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul span.text-muted {
    font-size: 11px;
    padding-top: 6px;
    padding-left: 12px;
    color: #919191!important;
}

i.bi.bi-star-fill {
    font-size: 10px;
    color: #bebebe;
}

li.active .bi-star-fill {
    color: #F5A623;
}

.noidungsp .gia .sale {
    background: #F5A623;
    border-radius: 6px;
    font-size: 11px;color: white;
    padding: 1px 4px;
    position: absolute;
    right: 0;
    top: 2px;
}

.giacu.text-muted {
    font-size: 13px;
    color: #919191!important;
    padding-left: 10px;
}

.giamoi {
    color: red;
    font-size: 14px;
    font-weight: 500;
}

.gia.d-flex {
    position: relative;
}

small.tacgia.text-muted {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    transition: 0.3s;
    padding: 3px 0px;
}

h6.card-title.ten {
    font-weight: 400;
    margin-bottom: 4px;
    font-size: 15px;
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: 0.3s;
}

.card-body.noidungsp {
    padding: 10px 10px 0px 10px;
}

.card {
    border-radius: 0;
}

.card:hover .ten {
    color: #F5A623;
}

/* xu ly margin slick  */
.card{
    margin: 0 10px;
}

.khoisanpham {
    margin: 0 -10px;
}

/* css cho khong co border */
.card{
    border: none;
}
/* het css cho _1khoi  */



@media (max-width:767px){
    .navbar form .input-group{
        width: 100%!important;

    }

    .navbar ul li a.nav-link{
        margin-left:0.25rem!important;
    }

    .navbar ul li.account{
        border-top: 1px dashed #CF111A;
        border-bottom: 1px dashed #CF111A;
        padding-bottom: 0.5rem;
        margin-bottom: 0.25rem;
    }
    .navbar ul li.giohang{
        border-bottom: 1px dashed #CF111A;
        padding-bottom: 0.5rem;
        margin-right:8px;
    }
    .categorycontent{
        display: none;
    }

    .categoryheader:hover .categorycontent{
        display: none;
    }
}