<!-- hr -->
<hr style="width: 100%; color: #cf111a; margin-top: 0px;">

<div class="container" id="address-index" style="background-color: #fff;">
  <div class="row" style="padding: 30px;">
    <!-- left : dia chi mac dinh -->
    <div class="col">
      <h1 style="color: #565555; font-size: 20px;">SỔ ĐỊA CHỈ</h1>
      <h2 style="font-weight: bold; font-size: 13px; margin-top: 25px;">ĐỊA CHỈ MẶC ĐỊNH</h2>
      <!-- khoi dia chi -->
      <div class="khoi-dia-chi" style="margin-left: 10px; margin-top: 5px;">
        <p>Chien Nguyen</p>
        <p>so 76, ngo 302, Minh Khai</p>
        <p>Phuong Mai Dong, Quan Hoang Mai, Ha Noi, Viet Nam</p>
        <p>Tel: 0355430828</p>
        <p>
          <span>Thay doi dia chi giao hang</span>
        </p>
      </div>
    </div>

    <!-- right -->
    <div class="col">
      <button class="add-address btn float-end">THÊM ĐỊA CHỈ MỚI</button>
      <h2 style="font-weight: bold; font-size: 13px; margin-top: 25px;">ĐỊA CHỈ MẶC ĐỊNH</h2>
      <!-- khoi dia chi -->
      <div class="khoi-dia-chi" style="margin-left: 10px; margin-top: 5px;">
        <p>Chien Nguyen</p>
        <p>so 76, ngo 302, Minh Khai</p>
        <p>Phuong Mai Dong, Quan Hoang Mai, Ha Noi, Viet Nam</p>
        <p>Tel: 0355430828</p>
        <p>
          <span>Sua dia chi </span>|
          <span> Xoa dia chi</span>
        </p>
      </div>
    </div>
  </div>
</div>