body#addresses {
  #address-index .khoi-dia-chi p {
    margin: 0px;
    margin-top: 5px;
  }
  
  #address-index .khoi-dia-chi p:last-child a:first-child {
    font-weight: bold;
    color: #c92127;
  }
  
  #address-index .khoi-dia-chi p:last-child a:last-child {
    font-weight: bold;
    color: #64646e;
  }
  
  #address-index .add-address {
    background: #c92127;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
  }
  
  #form_address .btn_address {
    background: #c92127;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    width: auto;
  }
  
  #form_address .right-label {
    margin-bottom: 0px;
    font-size: 14px;
    color: #666;
    font-style: italic;
    height: 100%;
    margin-top: auto;
    padding-bottom: 5px;
  }
  
  #form_address .left input {
    border: none;
    border-bottom: 1px solid #000;
    width: 100%;
    margin-bottom: 8px;
  }
  
  #form_address .right input[type=text] {
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 8px;
  }
}