/* css cho navbar  */

.navbar-nav li .nav-link{
    font-size: 13px;
    padding-top: 17px;
    font-weight: 400;
 }
 
 .navbar input.form-control {
     border: 2px solid #CF111A!important;
     
 }
 
 li.nav-item a{
     transition: 0.2s;
 }
 
 li.nav-item:hover a {
     color: #F5A623!important;
 }
 
 a.nav-link {
     padding-top: 8px;
 }
 
 a.navbar-brand {
     font-size: 34px;
 }
 
 li.nav-item.account {margin-right: 0.5rem;}
 
 a.nav-link {
     margin-left: -0.5rem;
 }
 
 .navbar-expand-md .navbar-nav .nav-link.giohang{
     padding-right: 0!important;
 }
 
 i.fa.fa-shopping-cart {
     margin-left: -1px;
     margin-top: 5px;
     display: inline-block;
 }
 
 a.btn.btn-secondary.rounded-circle {
     width: 42px;
     height: 40px;
     background-color: #dfdfdf;
     border: #cacaca;
 }
 
 .cart-amount{
     height: 18px;
     width: 18px;
     border-radius: 50%;
     background: #F5A623;
     font-size: 12px;
     position: relative;
     left: 19px;
     bottom: 32px;
     transition: 0.2s;
 }
 
 .nav-item.giohang:hover .cart-amount{
     background: #CF111A;
     color: white;
 }
 
 .dropdown-menu {
     padding: 11px;
     width: 236px;
 }
 
 a.dropdown-item {
     background: #F5A623;
     border-radius: 4px;
     font-size: 14px;
     color: white;
     padding: 9px;
 }
 
 a.dropdown-item:hover {
     background: #F5A623;
     color: white;
     box-shadow: 0px 2px 5px #F5A623;
 }
 
 .navbar-nav .nav-item.active a{
     color: #F5A623;
 }
 
 .nutcuonlen{
     visibility: hidden;
     opacity: 0;
     transition: 0.5s;
 }
 
 .nutcuonlen.hienthi{
     visibility: visible;
     opacity: 1;
 }
 
 .navbar.fixed-top{
     box-shadow: 0px 5px 20px grey;
 }
 /* het css cho navbar  */
 
 /* .duoinavbar  */
 .duoinavbar{
     background-color:#CF111A ;
 }
 
 .benphai.float-right {
     line-height: 40px;
     font-size: 14px;
 }
 
 .noidungheader {
     padding-top: 8px;
     padding-left: 14px;
 }
 
 .categoryheader {
     height: 40px;
     background-color: #aa1318;
 }
 
 .duoinavbar .container .row {
     height: 40px;
 }
 
 .duoinavbar {
     height: 40px;
 }

 .duoinavbar a, .duoinavbar a:hover {
     text-decoration: none;
     color: white;
 }
 
 .hotline{
     display: inline-block;
     position: relative;
     margin-right: 11px;
 }
 
 .hotline:after{
     content:"|";
     position: absolute;
     color:white;
     top: -1px;
     right: -10px;
     font-size: 22px;
 }

 /* het css .duoinavbar  */

 @media (max-width:767px){
    .navbar form .input-group{
        width: 100%!important;

    }

    .navbar ul li a.nav-link{
        margin-left:0.25rem!important;
    }

    .navbar ul li.account{
        border-top: 1px dashed #CF111A;
        border-bottom: 1px dashed #CF111A;
        padding-bottom: 0.5rem;
        margin-bottom: 0.25rem;
    }
    .navbar ul li.giohang{
        border-bottom: 1px dashed #CF111A;
        padding-bottom: 0.5rem;
        margin-right:8px;
    }
    .categorycontent{
        display: none;
    }
}
