
<!-- banner slider  -->
<div class="container col-md-9 px-0 mx-auto">
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'banner-sach-moi.jpg', class: 'd-block w-100', style: 'height: 389px;', alt: 'banner-sach-moi' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'banner-beethoven.jpg', class: 'd-block w-100', style: 'height: 389px;', alt: 'banner-beethoven' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'neu-toi-biet-duoc-khi-20-full-banner.jpg', class: 'd-block w-100', style: 'height: 389px;', alt: 'neu-toi-biet-duoc-khi-20-full-banner' %>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>