<ul class="dropdown-menu collapse collapse-body" aria-labelledby="dropdownMenuButton1" style="margin-top: 0px; border-radius: 0;">
  <li> <a href="sach-kinh-te.html"> Sách Kinh Tế - Kỹ Năng</a><i class="bi bi-chevron-right float-end"></i>
    <ul>
      <li class="liheader"><a href="#" class="header text-uppercase">Sách Kinh Tế - Kỹ Năng</a></li>
      <div class="content trai">
        <li><a href="#">Kinh Tế - Chính Trị</a></li>
        <li><a href="#">Sách Khởi Nghiệp</a></li>
        <li><a href="#">Sách Tài Chính, Kế Toán</a></li>
        <li><a href="#">Sách Quản Trị Nhân Sự</a></li>
        <li><a href="#">Sách Kỹ Năng Làm Việc</a></li>
      </div>
      <div class="content phai">
        <li><a href="#">Nhân Vật - Bài Học Kinh Doanh</a></li>
        <li><a href="#">Sách Quản Trị - Lãnh Đạo</a></li>
        <li><a href="#">Sách Kinh Tế Học</a></li>
        <li><a href="#">Sách Chứng Khoán - Bất Động Sản - Đầu Tư</a></li>
        <li><a href="#">Sách Marketing - Bán Hàng</a></li>
      </div>
    </ul>
  </li>

  <li><a href="#">Nghệ Thuật Sống - Tâm Lý </a><i class="bi bi-chevron-right float-end"></i>
    <ul>
      <li class="liheader"><a href="#" class="header text-uppercase">Nghệ Thuật Sống - Tâm
          Lý</a></li>
      <div class="content trai">
        <li><a href="#">Sách Nghệ Thuật Sống</a></li>
        <li><a href="#">Sách Tâm Lý</a></li>
        <li><a href="#">Sách Hướng Nghiệp</a></li>
      </div>
      <div class="content phai">
        <li><a href="#">Sách Nghệ Thuật Sống Đẹp</a></li>
        <li><a href="#">Sách Tư Duy </a></li>
      </div>
    </ul>
  </li>
  <li><a href="#">Sách Văn Học Việt Nam</a><i class="bi bi-chevron-right float-end"></i>
    <ul>
      <li class="liheader"><a href="#" class="header text-uppercase">Sách Văn Học Việt
          Nam</a></li>
      <div class="content trai">
        <li><a href="#">Truyện Ngắn - Tản Văn </a></li>
        <li><a href="#">Tiểu Thuyết lịch Sử </a></li>
        <li><a href="#">Phóng Sự - Ký Sự - Du ký - Tùy Bút</a></li>
        <li><a href="#">Thơ</a></li>
      </div>
      <div class="content phai">
        <li><a href="#">Tiểu thuyết</a></li>
        <li><a href="#">Tiểu sử - Hồi ký</a></li>
        <li><a href="#">Phê Bình Văn Học</a></li>
      </div>
    </ul>
  </li>
  <li><a href="#">Sách Văn Học Nước Ngoài</a><i class="bi bi-chevron-right float-end"></i>
    <ul>
      <li class="liheader"><a href="#" class="header text-uppercase">Sách Văn Học Nước
          Ngoài</a></li>
      <div class="content trai">
        <li><a href="#">Văn Học Hiện Đại</a></li>
        <li><a href="#">Tiểu Thuyết </a></li>
        <li><a href="#">Truyện Trinh Thám</a></li>
        <li><a href="#">Thần Thoại - Cổ Tích</a></li>
      </div>
      <div class="content phai">
        <li><a href="#">Văn Học Kinh Điển</a></li>
        <li><a href="#">Sách Giả Tưởng - Kinh Dị</a></li>
        <li><a href="#">Truyện Kiếm Hiệp</a></li>
      </div>
    </ul>
  </li>
  <li><a href="#">Sách Thiếu Nhi</a><i class="bi bi-chevron-right float-end"></i>
    <ul>
      <li class="liheader"><a href="#" class="header text-uppercase">Sách Thiếu Nhi</a>
      </li>
      <div class="content trai">
        <li><a href="#">Mẫu Giáo</a></li>
        <li><a href="#">Thiếu Niên</a></li>
        <li><a href="#">Kiến Thức - Bách Khoa</a></li>
        <li><a href="#">Truyện Cổ Tích</a></li>
      </div>
      <div class="content phai">
        <li><a href="#">Nhi Đồng</a></li>
        <li><a href="#">Văn Học Thiếu Nhi</a></li>
        <li><a href="#">Kỹ Năng Sống</a></li>
        <li><a href="#">Truyện Tranh</a></li>
      </div>
    </ul>
  </li>
  <li><a href="#">Sách Giáo Dục - Gia Đình</a><i class="bi bi-chevron-right float-end"></i>
    <ul>
      <li class="liheader"><a href="#" class="header text-uppercase">Sách Giáo Dục - Gia
          Đình</a></li>
      <div class="content trai">
        <li><a href="#">Giáo dục</a></li>
        <li><a href="#">Thai Giáo</a></li>
        <li><a href="#">Sách Dinh Dưỡng - Chăm Sóc Trẻ</a></li>
        <li><a href="#">Ẩm Thực - Nấu Ăn</a></li>
        <li><a href="#">Sách Tham Khảo</a></li>
      </div>
      <div class="content phai">
        <li><a href="#">Giới Tính</a></li>
        <li><a href="#">Sách Làm Cha Mẹ</a></li>
        <li><a href="#">Kiến Thức - Kỹ Năng Cho Trẻ</a></li>
        <li><a href="#">Ngoại Ngữ - Từ Điển</a></li>
      </div>
    </ul>
  </li>
  <li><a href="#">Sách Lịch Sử</a><i class="bi bi-chevron-right float-end"></i>
    <ul>
      <li class="liheader"><a href="#" class="header text-uppercase">Sách Lịch Sử</a></li>
      <div class="content trai">
        <li><a href="#">Lịch Sử Việt Nam</a></li>
      </div>
      <div class="content phai">
        <li><a href="#">Lịch Sử Thế Giới</a></li>
      </div>
    </ul>
  </li>
  <li><a href="#">Sách Văn Hóa - Nghệ Thuật</a><i class="bi bi-chevron-right float-end"></i>
    <ul>
      <li class="liheader"><a href="#" class="header text-uppercase">Sách Văn Hóa - Nghệ
          Thuật</a></li>
      <div class="content trai">
        <li><a href="#">Văn Hóa</a></li>
        <li><a href="#">Phong Tục Tập Quán</a></li>
        <li><a href="#">Phong Thủy</a></li>
      </div>
      <div class="content phai">
        <li><a href="#">Nghệ Thuật</a></li>
        <li><a href="#">Kiến Trúc</a></li>
        <li><a href="#">Du Lịch</a></li>
      </div>
    </ul>
  </li>
  <li><a href="#">Sách Khoa Học - Triết Học</a><i class="bi bi-chevron-right float-end"></i>
    <ul>
      <li class="liheader"><a href="#" class="header text-uppercase">Sách Khoa Học - Triết
          Học</a></li>
      <div class="content trai">
        <li><a href="#">Triết Học Phương Tây</a></li>
        <li><a href="#">Khoa Học Cơ Bản</a></li>
      </div>
      <div class="content phai">
        <li><a href="#">Minh Tiết Phương Đông</a></li>
      </div>
    </ul>
  </li>
  <li><a href="#">Sách Tâm Linh - Tôn Giáo</a><i class="bi bi-chevron-right float-end"></i>

  </li>
  <li><a href="#">Sách Y Học - Thực Dưỡng</a><i class="bi bi-chevron-right float-end"></i>
    <ul>
      <li class="liheader"><a href="#" class="header text-uppercase">Sách Y Học - Thực
          Dưỡng</a></li>
      <div class="content trai">
        <li><a href="#">Chăm Sóc Sức Khỏe</a></li>
        <li><a href="#">Y Học</a></li>
        <li><a href="#">Thiền - Yoga</a></li>
      </div>
      <div class="content phai">
        <li><a href="#">Thực Dưỡng</a></li>
        <li><a href="#">Đông Y - Cổ Truyền</a></li>
      </div>
    </ul>
  </li>
</ul>
<script type="text/javascript">
  $('#menu-categories').hover(
    function() {
      $('#dropdownMenuButton1').addClass('show');
      $('#dropdownMenuButton1').attr('aria-expanded', true);
      $('.collapse-body').addClass('show');
      $('.collapse-body').attr('data-bs-popper', 'static');
    },
    function() {
      $('#dropdownMenuButton1').removeClass('show');
      $('#dropdownMenuButton1').attr('aria-expanded', false);
      $('.collapse-body').removeClass('show');
      $('.collapse-body').removeAttr('data-bs-popper');
    }
  );
</script>