
<ul class="dropdown-menu collapse collapse-body" aria-labelledby="dropdownMenuButton1" style="margin-top: 0px; border-radius: 0;">
  <% Category.where(role: true).each do |category| %>
  <li> <a href=""><%= category.name %></a><i class="bi bi-chevron-right float-end"></i>
    <ul>
      <li class="liheader"><a href="" class="header text-uppercase"><%= category.name %></a></li>
      <% subors = category.subordinates %>
      <div class="content trai">
        <% subors.limit(5).each do |subor| %>
        <li><%= link_to subor.name, category_path(subor) %></li>
        <% end %>
      </div>
      <div class="content phai">
        <% lim = subors.count < 10 ? (subors.count - 5) : 4  %>
        <% subors.limit(lim).offset(5).each do |subor| %>
        <li><%= link_to subor.name, category_path(subor) %></li>
        <% end %>
      </div>
    </ul>
  </li>
  <% end %>
</ul>
<script type="text/javascript">
  $('#menu-categories').hover(
    function() {
      $('#dropdownMenuButton1').addClass('show');
      $('#dropdownMenuButton1').attr('aria-expanded', true);
      $('.collapse-body').addClass('show');
      $('.collapse-body').attr('data-bs-popper', 'static');
    },
    function() {
      $('#dropdownMenuButton1').removeClass('show');
      $('#dropdownMenuButton1').attr('aria-expanded', false);
      $('.collapse-body').removeClass('show');
      $('.collapse-body').removeAttr('data-bs-popper');
    }
  );
</script>